body {
    background-image: url(Rynearson5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#heading-container {
    display: flex;
    justify-content: center;
}

#table-container {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: rgb(2, 212, 89);
    border-radius: 5px;
    padding: 8px;
    color: aliceblue;
    border: 1px solid black;
}

table {
    width: 900px;
    height: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    color: aliceblue;
}

th {
    font-size: 20px;
}

td {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(37, 72, 198);
}

a:visited {
    color: rgb(37, 72, 198);
}

tr:nth-child(even) {
    background-color: rgb(2, 212, 89);
}

tr:nth-child(odd) {
    background-color: rgb(0, 164, 68);
}

td:hover, th:hover {
    background-color: rgb(0, 130, 54);
}

#mouse-box {
    position: fixed;
    background-color: rgb(0, 130, 54);
    border: solid black 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 3px 5px;
    top: -50px;
    left: 0px;
}

#mouse-box-p {
    color: aliceblue;
    margin: 0px;
}